body{
    background-color: antiquewhite;
}

table{
    border: 2px rgb(0, 0, 0) solid;
    width: 500px;
    height: 200px;
    margin: auto;
}

table td{
    border: solid 3px rgb(0, 0, 0);
    height: 20px;
    width: 20px;
}

main{
    border: solid rgb(187, 255, 0) 1px;
    width: 50%;
    margin: auto;
    font-size: 1.5em;
}